**Production Engress Service Config**
APIs--
api.crownco.ai/core - coreapi 

UIs--
presales.crownco.ai - presales ui service
sales.crownco.ai - sales ui service
manager.crownco.ai - manager ui service


**Stage Engress Service Config**
APIs--


UIs--



**K3S Engress Service Config**
APIs--


UIs--

